/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.container {
  margin: 0 auto;
}
.greenBlue {
  background: -webkit-linear-gradient(163.45deg, #8DFFA6 0%, #0057FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.topicMenu {
  height: 400px;
}
.topicMenu .boxMajorShadow {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.topicMenu .boxMajorShadow .boxMajor {
  width: 184px;
  height: 184px;
  background: linear-gradient(109.18deg, #FFE600 15.8%, rgba(255, 153, 0, 1) 115.8%);
  clip-path: polygon(100% 0, 100% 46%, 46% 46%, 46% 100%, 0 100%, 0 0);
  transform: rotate(45deg);
  position: absolute;
  left: 150px;
  top: 50px;
}
.topicMenu .box {
  width: 86px;
  height: 86px;
  transform: rotate(45deg);
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.topicMenu .box p {
  transform: rotate(-45deg);
}
.topicMenu .blue {
  font-family: 'Graduate', cursive;
  color: white;
  font-size: 1rem;
  background: linear-gradient(118.4deg, #8DFFA6 0%, #0057FF 100%);
}
.topicMenu .orange {
  font-family: 'Graduate', cursive;
  color: black;
  font-size: 1rem;
  background: linear-gradient(109.18deg, #FFE600 15.8%, rgba(255, 153, 0, 1) 115.8%);
}
.topicMenu .one {
  top: 175px;
  left: 50px;
}
.topicMenu .two {
  top: 175px;
  left: 200px;
}
.topicMenu .three {
  top: 175px;
  left: 350px;
}
.topicMenu .four {
  top: 250px;
  left: 425px;
}
.topicMenu .five {
  top: 250px;
  left: 125px;
}
.topicMenu .six {
  top: 250px;
  left: 275px;
}
.frontText {
  text-align: center;
}
.frontText h1 {
  font-family: 'Graduate', cursive;
  color: black;
  font-size: 3.5rem;
}
.frontText h2 {
  font-family: 'Graduate', cursive;
  color: black;
  font-size: 1.5rem;
}
.frontText h3 {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-size: 1rem;
}
.container .left {
  width: 550px;
}
