.about{
    display: flex;
    ul{
        margin-left: 25px;
        column-count: 3;
        .contentFont(black,1rem);
        li{
            margin-bottom: 15px;
        }
    }
    p{
        .contentFont(black,1rem);
    }
    h3{
        .contentFont(null, 1.25rem);
        margin: 20px; 
        .greenBlue;
    }
    .left{
        margin: 20px;
        width: 48%;
        .myStack{
            height: 25%;
            ul{
                margin-bottom: 70px;
            }
        }
    }
    .right{
        margin: 20px;
        width: 48%;
        .aboutMyself{
            p{text-align: center;}
        }
    }
}