.about{
    display: flex;
    ul{
        margin-left: 25px;
    }
    h3{
        margin: 25px;
        color: blue;
    }
    .left{
        margin: 20px;
        width: 48%;
    }
    .right{
        margin: 20px;
        width: 48%;
        .aboutMyself{
            p{text-align: center;}
        }
    }
}