.home{
    display: flex;
    flex-flow: column;
    text-align: center;
    .textBox{
        margin:75px auto;
        width: 425px;
        h1{
            .contentFont(black,2rem);
            .greenBlue;
        }
        p{
            margin-top:@genericGap;
            .contentFont(black,1.25rem);
        }
    }
}